{% if DA1459X and VERSION >= 106 %}
@@
// See </doc/kll.rst#sdk10cs-crypto-cb>
symbol aes_hash_user_cb,aes_hash_irq_cb,cfg;
identifier ENGINE;
@@

+if (cfg->engine.ENGINE.callback != aes_hash_irq_cb) {
	aes_hash_user_cb = cfg->engine.ENGINE.callback;
	cfg->engine.ENGINE.callback = aes_hash_irq_cb;
+}

{% endif %}
